@keyframes ask-effect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes bid-effect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes up-effect {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes down-effect {
  0% {
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.askEffect {
  animation: ask-effect 0.2s forwards;
}

.bidEffect {
  animation: bid-effect 0.2s forwards;
}
.upEffect {
  animation: up-effect 0.2s;
}

.downEffect {
  animation: down-effect 0.2s;
}

.effect {
  animation: down-effect 0.2s forwards;
}
